<%- include('../partials/header.ejs', { path }) %>

<section class="form">
  <div class="container">

    <div class="box-form">
      <h1>
        Edit Product
        <i class="fa-regular fa-pen-to-square"></i>
      </h1>

      <form action="/products/edit" method="POST">
        <input type="hidden" name="id" value="<%= data.id %>">
        <input type="text" name="name" placeholder="Name" value="<%= data.name %>">
        <input type="number" name="price" step="0.01" placeholder="Price" value="<%= data.price %>">
        <input type="text" name="image" placeholder="Image URL" value="<%= data.image %>">

        <input type="submit" id="btn-edit" value="Edit Product">
      </form>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
